<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
</head>
<body>

<div class="container">
    <form method="post">
        <textarea rows="5" cols="50" name="links"><%= links %></textarea>
        <input type="submit"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>videoId</th>
            <th>thumbnail</th>
            <th>video</th>
            <th>audio</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(function(item){ %>
           <tr>
               <td><%= item.videoId %></td>
               <td><img src="<%= item.thumbnail %>"></td>
               <td>
                   <h4 style="color: red"><%= item.videoQuality %></h4>
                   <video width="320" height="240" controls>

                       <source src="<%= item.video %>" type="video/mp4">
                   </video>
               </td>
               <td>
                   <audio controls>
                       <source src="<%= item.audio %>" type="audio/mp4">
                   </audio>
               </td>
           </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>

